/* the setion-home is for where it and to positiion it properly */
#section-home {
  padding-top: 5% !important;
  min-height: 70vh !important;
  display: flex;
  align-items: center;
  margin: 6% important;
  font-size: 1.2rem;
  margin-left: 2%;
}


.text-zone>h1 {
  font-size: 4rem !important;
}

/* for the boxes describing my personality */
.main_content {
  color: #fff;
  font-size: 1.2rem;
}


/* for the progress bars  */
#row_content_probar {
  display: flex;
  flex-direction: column;
}

.pro {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.progress {
  background-color: transparent;
  margin: 4% 0 4% 0;
}

#row_content_probar>.pro>p {
  font-size: 2rem;
  font-family: 'La Belle Aurore', light cursive;
}
/* end of progress bars */

/* this is for thw section-work */
/* ---------------------------------- */

/* this is for the secondary content section  */
#row_3>#section-work>#header {
  font-size: 3rem !important;
  color: #08fdd8;
  margin-bottom: 30px;
  margin-right: 30px;
}


.text-zone-2 p {
  line-height: 1.5;
}
/* this is for the tabs section  */
#row_3>#section-work>.text-zone-2>.tab>h3 {
  color: #f45f7f;

}

#row_3>#section-work>.text-zone-2>.tab>#tab1 {
  margin-top: 2%;
}

#row_3>#section-work>.text-zone-2>.tab>#tab2 {
  margin-top: 2%;
}

#row_3>#section-work>.text-zone-2>p {
  font-size: 2rem;
}

#values_title{
  color: #f45f7f;
}
#tabs-list>li>a{
  color: #111 !important;
  border: none;
}
/* end of tabs */



/* for the anima row styles */
#anima {
  padding: 5% 0% 2% 6%;
}

#anima>.title {
  position: relative;
  color: #a2fcfa;
  font-size: 4.5rem;
}

.rotate-words {
  display: inline;
  margin-left: 10px;
}

.rotate-words span {
  width: max-content;
  position: absolute;
  background-color: #ea9cad;
  padding-inline: 10px;
  opacity: 0;
  transform-origin: 10% 75%;
  animation: rotateWrds 20s var(--d) linear infinite;  /*the html will contain the --d number so when subbed into the 113 the anamte is delayed*/
}

@keyframes rotateWrds {
  5% {
    opacity: 1;
  }

  10%,
  20% {
    opacity: 1;
    transform: rotate(3deg);
  }

  15% {
    transform: rotate(-1deg);
  }

  25% {
    opacity: 0;
    transform: translateY(90px) rotate(10deg);
  }
  /* this is to give the falling down effect */
}








/* this is for the last small row of icons  */

#link_list {
  padding: 3%;
}

#link_list>button>i {
  padding: 0 1% 0 1%;
  font-size: 1.2rem;
  color: #f45f7f;
}
/* end of icon  */



/* ! MEDIA QUERY */

@media screen and (min-width : 1300px) {
  header {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btns-container {
    display: none;
  }

  .aside {
    width: 10%;
    height: 100%;
  }

  .aside-wrapper {
    height: 80%;
  }

  .logo-section {
    min-height: 25vh;
  }

  .logo img {
    width: 50px;
    height: auto;
  }

  .social-icons {
    margin-bottom: 0;
    text-align: center;
  }

  .social-icons li {
    font-size: 1rem;
  }

  /* home section */
  #section-home {
    padding-left: 13rem;
  }

  .text-zone h1 {
    font-size: 6.3rem;
    line-height: 85px;
    letter-spacing: -6px;
  }

  .text-zone img {
    width: 50px;
    height: 72px;
  }

  .text-zone .gray-text {
    font-size: 2rem;
  }

}

@media screen and (max-width:1300px) {
  .scroll-down {
    opacity: 0;
  }

  #link_list {
    padding: 4%;
  }
}

@media screen and (max-width:500px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body p {
    font-size: 1.0rem;
  }

  .text-zone>h1 {
    font-size: 5rem !important;
  }

  .main_content {
    font-size: 1.0rem;
  }

  .text-zone-2 {
    font-size: 1.0rem;
  }

  #section-home {
    transform: translateX(6%)
  }

  #anima {
    font-size: 1.3rem !important;
  }
  #appleRot>.video_main>video{
    padding-bottom: 30px;
    padding-top: 10px;
  }
}

@media screen and (max-width:1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #row_content_bar {
    margin: 0;
  }

  body p {
    font-size: 1rem;
  }

  .main_content {
    font-size: 1rem;
  }

  .text-zone-2 {
    font-size: 1rem;
  }

  #section-home {
    display: grid;
    place-items: center;
  }
}


/* the styles are for the flex-based gallery  */
.container {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h3 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover {
  flex: 6;

}
.texti{
  font-family: 'Courier New', Courier, monospace;
  display: inline-flex;
  align-self:flex-end;
  opacity: 0%;
  z-index: 1000;
  color: #fff;
  font-size: 1.2rem;
  background: rgba( 66, 66, 66, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border-radius: 10px;
  transform: translate(0,5%);
  padding: 2%;
}
.item:hover > .texti{
  visibility: visible;
  animation: fadein 2s
}
@keyframes fadein {
  0%{
    opacity: 10%;
  }
  100%{
    opacity: 100%;
  }
}

.item-1 {
  background-image: url('../company_images/Image_of_Founder.jpg');
}

.item-2 {
  background-image: url('../company_images/ntu_image_1.jpg');
}

.item-3 {
  background-image: url('../company_images/defcon_image_1.jpg');
}

.item-4 {
  background-image: url('../company_images/company_image_1.jpg');
}

.item-5 {
  background-image: url('../company_images/nus_image_1.jpg');
}
.item-6 {
  background-image: url('../company_images/emplyee_image_1.webp');
}


.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}

.social>img {
  display: block;
  width: 32px;
}
/* the end of the gallery */

/* for adjustments for chatbot */
#minimalBot{
  transform: translateX(90%);
}