/* this is for the chatbot  */
#chatBotOuter {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999;
  max-width: 500px;
  width: 100%;
}

.showPointer {
  cursor: pointer;
}
/* the smallBot is the outer appearance of the chatbot, it is thw small icon with border */
#smallBot {
  height: inherit;
  width: inherit;
  background-color: #f45f7f;
  padding: 8px 14px 8px 14px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  cursor:pointer ;
  font-size: 2rem;
}


#botInitialMessage {
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-bottom: 12px;
  margin-right: 12px;
  border: 1px solid #eaeaea;
}


#chatbotWindow {
  margin: 12px;
  border-radius: #dbdbdb;
  background: #f7f7f7;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 6px 6px;
  display: none;
  color: black;
}

#chatBody {
  height: 100%;
  min-height: 420px;
  max-height: 20vh;
  overflow: auto;
  color: black;
  font-size: 1rem;
}


#messageBox {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  height: 48px;
  line-height: 1rem;
  font-size: 1rem;
}
#send{
  font-size: 1rem;
  line-height: 1rem;
  display: grid;
  place-content: center;
}
#txt_area{
  z-index: inherit;
}

/* some of the classes are classes that are only going to added in the js later on */
.botName {
  margin-left: 6px;
  font-size: 12px;
}

.botMessage {
  padding: 6px 12px 6px 12px;
  background: #fff;
  box-shadow: 2px 4px 6px rgba(125, 125, 125, 0.1);
  line-height: 1.4em
}

.botMessageWrap {
  margin-right: 20px;
}

.userMessageWrap {
  text-align: end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.userName {
  margin-right: 6px;
  font-size: 12px;
  color: #426693
}

.userMessage {
  padding: 6px 12px 6px 12px;
  background: #426693;
  color: #fff;
  box-shadow: 2px 4px 6px rgba(125, 125, 125, 0.1);
  line-height: 1.4em;
  text-align: start
}

.spinnerBlock {
  background: #fff;
  padding: 0px 12px 6px 12px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 2px 4px 6px rgba(125, 125, 125, 0.1);
}
.spinnerBlock>.spinner-grow{
  color: #232332;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.suggestions {
  margin-top: 4px;
  font-size: 14px;
}

.suggest {
  display: inline-block;
  color: black;
  margin-top: 6px;
  margin-right: 4px;
  margin-bottom: 3px;
  border: 1px solid #454545;
  padding: 0px 12px 0px 12px;
  border-radius: 24px;
  line-height: 2em;
  transition: all 200ms linear;
  text-transform: capitalize;
  cursor: pointer;
}

.suggest:hover {
  background: #fff
}

.suggest:active {
  transform: scale(0.90)
}


#letter{
  color: #f45f7f !important;
}
#letter,#link{
  padding: 0;
  margin: 0;
  display: inline-block;
}
#link{
  text-decoration: none;
  color: black;
}