/*the common CSS file is used throughout, some of the styles may not always be applied to all the pages but all most the classes will follow this*/
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  color: #fff;
}
body {
  color: rgb(27, 24, 24) !important;
  /*the !importnant is used since the bootstrap overides my styles, given my background is black, and the color is white*/
  background: rgb(29, 29, 29) !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body { /*this to give  a nice onload effect*/
  opacity: 0;
  transition: 0.9s;
}


header { 
  width: 95%;
  height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  z-index: 9999999999;
}

.btns-container .bi {
  font-size: 3rem;
  padding: 10px;
  color: #fff !important;
  cursor: pointer;
}

.btns-container .bi:nth-child(2) {
  display: none;
  font-size: 1;
}


.aside {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #191919;
  z-index: 1;
}
/*this happens when the size of the window decrease below anything laptop size*/
.show-nav {
  height: 100%;
  overflow: visible;
}

.aside-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.logo-section {
  min-height: 32vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
}

.logo {
  display: grid;
  place-items: center;
  text-decoration: none;
}

.logo>img {
  width: 45px;
  height: auto;
}

.logo span {
  font-size: 1.7rem;
  color: #fff;
}

.logo-section>span {
  margin-top: 25px;
  font-size: 12px;
  font-size: 'Times New Roman', Times, serif;
}


/* nav section starts here */

.nav-links a {
  display: block;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  color: #908096;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #08fdd8;
  text-decoration: none;
  transition: 0.5s;
}

.nav-links a::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  background-color: #2d2d2e;
}

/* social icons */

.social-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.social-icons li {
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.social-icons li a {
  text-decoration: none;
  color: #909096;
  font-size: 1.4rem;
}

.social-icons li a:hover {
  color: #08fdd8;
}


/*the content start here*/
text-zone h1 { 
  line-height: 90px;
  letter-spacing: -3px;
  position: relative;
}
/* the text-zone h1 is to give the title nice spacing an make it look more presentable */


.main_content>#row_2>#row_content_myself>#content_myself>.title1
{  
  /* same reason as before make it look bigger and better */
  color: #08fdd8 !important;
  font-size: 2.4rem !important;
}

.text-zone>.content_changer::before {
  /* this is to get the css, html style and make it more relatable to my theme */
  /* my content is going to ,html,body and so by doing so i can make it look like a html theme */
  content: '<html> <body>';
  position: absolute;
  top: -80px;
  left: -10px;
  font-size: 1.8rem;
  font-family: 'La Belle Aurore', cursive !important;
  color: #666565;
  letter-spacing: 3px;
}

.text-zone>.content_changer::after {
  /* same thing as before */
  content: '</html></body>';
  position: absolute;
  top: 115%;
  font-size: 1.8rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}

.text-zone>.content_changer>#logo_text {
  width: 42px;
  height: 60px;
  scale: 150%;
  transform: translate(-5px,-5px);
}

.text-zone .gray-text {
  /* think of it as a subtitle */
  margin-top: 30px;
  color: #a2a2a3;
  letter-spacing: 3px;
  font-size: 1rem !important;
  position: relative;
}

.text-zone>.content_changer {
  /* basically when hovered it gives a nice tik-tok effect to it */
  color: #fff;
  letter-spacing: 6px;
  text-shadow: red 0 0, cyan 0 0;
  transition: text-shadow 200ms; /*text shadow is used here to give it a nice pop-up*/
  font-family: monospace;
  font-size: 5rem;
  font-weight: bolder;
  justify-content: center;
}


.text-zone>.content_changer:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}

/* contact me button */
.contact-button {
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  height: 50px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: #08fdd8;
  margin-top: 10px;
  /* this is for the text within */
}

.contact-button div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .3s ease-in-out;
  /* to give the nice side-ways transition */
}

.contact-button span.bg {
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  top: 0;
  transition: all .3s ease-in-out;
  background-color: #08fdd8;
  transform: skewX(-19deg);
}

.contact-button:hover span.bg {
  width: 110%;
}

.contact-button span.base {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 1px solid #08fdd8;
  box-sizing: border-box;

}

.contact-button span.text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1.3rem;
}

.contact-button:hover span.text {
  color: #1d1d1d;
}

.scroll-down {
  position: absolute;
  right: -20px;
  bottom: 3.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  display: block;
  font-size: 1.6rem;
}

/* this is for the scroll down button animation */

.scroll-down span {
  display: inline-block;
  animation: scroll .5s linear infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-7px);
  }

  100% {
    transform: translateX(7px);
  }
}

.scroll-down>#caret {
  transform: rotate(180deg);
  margin-left: 10px;
}

/* the section-work is considered as my secondary content container */
#section-work {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 20vh;
  padding-top: 9%;
}

#accord {
  padding: 1%;
  padding-top: 5%;
}

a {
  text-decoration: none;
}


/* this is for design purposes */
.fake-big-2 {
  font-size: 12rem;
  font-weight: 700;
  position: absolute;
  color: #2d2d2e;
  left: 10px;
  bottom: -120px;
  letter-spacing: -10px;
  z-index: -999;
}

#fake-magicwall>ul {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
}

#link_list>i:hover {
  color: #08fdd8;
}






/*
!MEDIA QUERY
*/
/*changes will be applied to anything that is a laptop*/

@media screen and (min-width : 1300px) {
  header {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btns-container {
    display: none;
  }

  .aside {
    width: 10%;
    height: 100%;
  }

  .aside-wrapper {
    height: 80%;
  }

  .logo-section {
    min-height: 25vh;
  }

  .logo>img {
    width: 50px;
    height: auto;
  }

  .social-icons {
    margin-bottom: 0;
    text-align: center;
  }

  .social-icons li {
    font-size: 1rem;
  }

  /* home section */
  #section-home {
    padding-left: 13rem;
  }

  .text-zone h1 {
    font-size: 6.3rem;
    line-height: 85px;
    letter-spacing: -6px;
  }

  .text-zone>img {
    width: 50px;
    height: 72px;
  }

  .text-zone .gray-text {
    font-size: 2rem;
  }

}

/* this is used throughout the website, this is attached to the span classes in order to emphasize on the important texts */
.letter {
  color: #f45f7f;
}

.comple {
  color: #08fdd8;
}