@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.social-icons{
  padding-left: 0;
}

/* the section after this is for the section-home, i.e the content of the webiste itself */
#section-home {
  min-height: 50vh;
  display: flex;
  align-items: center;
  margin: 6%;
  padding-top: 5%;

}
/* the start of the headline */
.text-zone .content_changer {
  font-size: 3rem !important;
  line-height: 90px;
  letter-spacing: -3px;
  position: relative;
  font-family: 'VT323', monospace !important;
}
/* end of headline */

.main_content {
  color: #fff;
  font-size: 1.2rem;
}


/* adjustments done to the after and before  */
.text-zone>.content_changer::before {
  left: -10px;
}

.text-zone>.content_changer::after {
  top: 139%;
}

.text-zone>.content_changer {
  letter-spacing: 6px;
}
.text_sample>p>span{
  font-size: inherit;
}

/* end of adjustmetns */



/* animation for the progress bar  */
.progress-bar {
  width: 0;
  height: 5;
  animation: progress 1.5s ease-in-out forwards;
  animation-delay: 0.8s;
  background-color: #18e198 !important;
}

.progress-bar::before {
  content: attr(info);
  font-size: 1.2rem;
  border-radius: 20px;
  color: #000;
  font-size: 12px;
  background-color: #fff;
}
.title {
  opacity: 0;
  animation: show 0.35s forwards ease-in-out 0.5s;
  color: #000 !important;
  font-size: 1.2rem;
}

@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* end of the animation */

/* !media query */

@media screen and (max-width:1300px) {
  .scroll-down {
    opacity: 0;
  }

  #link_list {
    padding: 4%;
  }

  #section-home {
    margin: 2%;
  }
}

@media screen and (max-width:390px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body p {
    font-size: 1.0rem;
  }

  .main_content {
    font-size: 1.0rem;
  }

  .text-zone-2 {
    font-size: 1.0rem;
  }

  #section-home {
    margin: 3% !important;
  }

  .text-zone>.main_content>#row_2>#row_content_skills>#content_myskills>h5 {
    font-size: 0.8rem;

    padding: 2%;
    margin: 6%;
  }
  #img{
    display: none;
  }
}

@media screen and (max-width:1200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #row_content_bar {
    margin: 0;
  }

  body p {
    font-size: 1.2rem;
  }

  .main_content {
    font-size: 1.2rem;
  }

  .text-zone-2 {
    font-size: 1.2rem;
  }

  #section-home {
    display: grid;
    place-items: center;
  }

  .pro {
    padding: 10px 0px 10px 0;
  }

}

@media screen and (max-width:1440px) {
  #section-home {
    font-size: 1.2rem !important;
  }

  .text-zone .main_content p,
  .text-zone>h4 {
    font-size: 1rem !important;
    padding: 0 !important;
  }
}



/* the styles added specifically for this page */


/* the carousel+testimonial */
#testimonial {
  min-height: 50vh;
  border-top: 2px solid #f45f7f;
  border-bottom: 2px solid #f1839b;
}

.header_1 {
  color: #f45f7f;
  font-size: 2rem !important;
}

.wrapper {
  list-style: none;
}

.header_1 {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  position: relative;
}

.header_1::before {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 0%;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.header_1::after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #18e198;
  border-radius: 4px;
  position: absolute;
  left: 0%;
  right: 0;
  top: 125%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease;
}

.header_1:hover::after,
.header_1:hover::before {
  transform: scaleX(1);
}

.carousel-item>h1,
h5,
h4 {
  display: grid;
  place-content: center;
  padding: 3rem;
}

.carousel-item>h1 {
  padding-bottom: 2%;
  color: #f45f7f;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem !important;
  letter-spacing: 3px;
  text-shadow: 3px 2px #ea9cad,
    -2px 9px #f1839b;
}

#testimonial>img {
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.carousel-item>h5 {
  color: gray;
}

.carousel-item>h4 {
  color: #18e198;
  box-shadow: 5px -5px 10px #18e198, -5px 5px 10px #0ecffe;
  border: solid #fff 2px;
}
/* end of testimonial */

/* start of the aspirations section */
.how-section1 {
  margin-top: -15%;
  padding: 10%;
  color: #fff;
}

.how-section1 h4 {
  color: #896ab9;
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .subheading {
  color: #fff;
  font-size: 20px;
  padding-bottom: 0;
}

.subheading::after {
  content: '';
  border-bottom: 3px solid #896ab9;
  animation: changer 3s alternate infinite;
  width: 50%;
}
/* animation to make the border grow graudally */

@keyframes changer {
  0% {
    width: 51%;
  }

  100% {
    width: 100%;
  }
}

.how-section1 p {
  padding-top: 20px;
  font-size: 1.2rem;
}

.how-img {
  display: grid;
  align-items: center;
}

.how-section1 .row {
  margin-top: 10%;
}
/* end of the aspiration section */

span {
  font-size: 15px;
}

a {
  text-decoration: none;
}

/* for the 3 pairs of boxes that talk about my achievements */
.box {
  padding: 30px 0px;
}

.box-part {
  background: #FFF;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;

}

.box-part:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px #000000, 0 4px 8px #000000;
  transition: 0.2s;

}

.title>h3 {
  color: #0ec15d;
}

.box-part>.text {
  margin: 3px 0px;
}

.box-part>.fa {
  color: #4183D7;
}

.box-part>.text {
  color: #000;
}
/* end of the box  */

/* the start of the anima class */
#anima {
  padding-top: 5%;
  margin: 1%;
  color: #ea9cad;
}